coverage
coverage-cypress
dist/
node_modules/
npm-error.log
top-test
.nyc_output

# VSCode project settings
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
